networkx==2.8.8
cachetools==5.3.3
catalogue==2.0.10
charset-normalizer==3.3.2
cloudpathlib==0.18.1
datasets==2.19.2
frozenlist==1.4.1
gradio==4.37.2
gradio_client==1.0.2
huggingface-hub==0.23.3
nltk==3.8.1
numpy==1.26.4
pandas==2.2.2
PyMuPDF==1.24.7
safetensors==0.4.3
scikit-learn==1.5.0
scipy==1.13.1
sentencepiece==0.2.0
spacy==3.7.5
spacy-legacy==3.0.12
tokenizers==0.19.1
torch==2.3.1
transformers==4.41.2
webcolors==1.13
webencodings==0.5.1
websocket-client==1.8.0


















